{{#if user }}
	<button onclick="logout()">log out</button>
	<pre>
user: {{user.nickname}}
email: {{user.email}}
{{#if bookmarks }}

bookmarks: {{bookmarks}}
{{else}}

bookmarks: <a onclick="updateBM()">create</a>
{{/if}}
	</pre>
{{else}}
	<button onclick="login()">log in</button>
{{/if}}

<style>
	store-section pre { white-space: pre-wrap; }
</style>

<pre>
todo:
	- add bookmarks one at a time (not faked)
	- display bookmarks better
</pre>
<a href="./store/xBrowserSync.html">pop this out</a>
